.titulomenuprincipal-i-a{
    text-align: center;
    font-size: large;
}
.buscarmenuprincipal-i-a{
    text-align: center;
    font-size: large;
    margin: 100px;
}
nav{
    color: blue;
    justify-content: space-between;
    text-decoration: none;
}
.arte{
    color: black;
}